/* 2026 Bruna Campos. All rights reserved. */
/* The website source code is available under the MIT License. Unless otherwise stated, the written content, images, CV, and other materials on this website are not licensed for redistribution. */

/* General style */
body {
    background-color: white;
    font-family: "Raleway", sans-serif;
    font-size: 18;
}
html {
    scroll-behavior: smooth; 
}
a:visited {
    color: inherit; /*do not change color of a link after it is visited*/
}
h1 {
    font-family: "Playfair Display", serif;
}
h2 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}
/* Navigation bar style */
ul.nav-menu {
    display: flex;
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #a3deb6;
    border-radius: 10px; /* round borders */
    height: 50px;
    justify-content: center; /* horizontal align (all items centered in page) */
    gap: 10px; /* spacing between items */
    cursor: pointer;
    }
ul.nav-menu li {
    position: relative;
}
ul.nav-menu li a {
    display: flex;
    color: #36543f;
    padding: 0px 45px;
    text-decoration: none; /* remove the underbar */
    justify-content: center;
    align-items: center; /* vertical align */
    height: 100%; /* use total height of the menu boxes */
    font-size: 20px; /* use a different font size than the body */
}
ul.nav-menu li a:hover {
    background-color: #6c696980;
    border-radius: 10px;
    color: white;
}
img.nav-menu {
    width: 40px;
    height: 40px;
    border-radius: 0;
}
ul.nav-submenu {
    position: absolute; /*position relative to the main menu item*/
    top: 100%; /*distance to the main menu item */
    left: 0;
    width: 100%; /*make it larger than the menu to fit all titles in one line*/
    padding: 0; /* remove default left padding*/
    margin: 0;
    opacity: 0;
    pointer-events:none; /*does not allow the user to interact with the element*/
    background-color: #36543f;
    border-radius: 10px;
    transition: all .3s ease;
}
ul.nav-submenu li {
    position: relative;
    display: block;
    padding: 0.5rem 1rem;
    text-align: left;
    cursor: pointer;
    transition: background .2s ease;
    color: white;
}
ul.nav-submenu li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 0.5rem 1rem;
}
ul.nav-submenu li a:hover {
    background-color: #F7F7F780;
    border-radius: 10px;
}
ul.nav-menu li:hover > .nav-submenu {
    opacity: 1;
    pointer-events: all;
}

/* Add some padding between navigation bars and content */
.navbar-bottom {
    margin-top: 30px;
}
.navbar-top {
    margin-bottom: 30px;
}

/* Introduction page */
.intro {
    display: grid;
    grid-template-columns: 1fr 400px;
    gap: 20px;
}
.image-homepage img {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block; /* turn element into block to allow auto margins */
}
.intro-text {
    max-width: 1fr;
    text-align: justify;
}
/* Stack image with text in phone screen */
@media (max-width: 700px) {
    .intro {
        grid-template-columns: 1fr;
    }
    .image-homepage img {
        max-width: 300px;
    }
}

/* Style for images */
img.navbar-bottom {
    width: 100%;
    position: relative;
    bottom: -10px;
}

/* Style for recipes page */
ul.recipes {
    list-style-type: none;
    /* display: flex; */
    margin: 0;
    padding: 0;
    /* justify-content: center; horizontal align (all items centered in page) */
    /* gap: 50px; spacing between items */
}
ul.recipes li a {
    display: block;
    padding: 0;
    text-decoration: none;
    justify-content: center;
    height: 100%; /* use total height of the menu boxes */
    align-items: center; /* vertical align */
}
.three-columns {
    /* use flexbox instead of column-count so that the content is divided by <div>, not equal-length columns */
   display: flex;
   justify-content: center;
   gap: 200px;
}

/* Style for lists of ingredients (recipe subsection) */
#ingredients li.done {
    text-decoration: line-through;
    color: gray;
}
ul.ingredients {
    list-style-type: none;
}
ul.ingredients li::before {
    content: "□";   /* empty square */
    font-size: 20px;
    margin-right: 10px;
}
